.two-elements-gallery-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 250px;
}

/*#app {
    height: 100vh;
    width: 100%;
    background: #fff;
    overflow-x: hidden;
}*/

.two-elements-gallery__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 2s;
}

.two-elements-gallery__image-left {
    clip-path: polygon(0% 100%, 0 0, 100% 0, 100% 0);
}

.two-elements-gallery__image-left:hover {
    clip-path: polygon(0% 100%, 0 0, 100% 0, 100% 100%);
}

.two-elements-gallery__image-left:hover + .two-elements-gallery__image-right {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 100% 100%);
}

.two-elements-gallery__image-right {
    clip-path: polygon(0% 100%, 100% 0, 100% 0%, 100% 100%);
}

.two-elements-gallery__image-right:hover {
    clip-path: polygon(0% 100%, 0 0, 100% 0, 100% 100%);
}

.two-elements-gallery__only-left {
    clip-path: none;
}

.two-elements-gallery__only-right {
    clip-path: none;
}

.two-elements-gallery__no-images {
    background: rgb(89,158,231);
    background: radial-gradient(circle, rgba(89,158,231,0.6635387431339723) 0%, rgba(135,204,255,0.7951914041983981) 65%); 
}