.buttonArray {
    .buttonArrayItem {
        &:not(:last-of-type) {
            margin-right: 15px;
        }
        &.selected {
            background-color: var(--primary-color);
            color: var(--primary-color-text);
        }
    }
}
