@import "../../style/variables.scss";

.datePicker {
    display: flex;
    flex-direction: column;
    > label {
        color: black;
        font-weight: 600;
        margin-bottom: 10px;
    }

    fieldset {
        border: 2px solid $primaryColor;
        border-radius: 8px;
    }

    svg{
        fill: $primaryColor;
    }

    &:hover{
        fieldset {
            border-color: $secondaryColor !important;
        }   

        svg{
            fill: $secondaryColor;
        }
    }
}
