@import "../../style/variables.scss";

.datePicker {
    display: flex;
    flex-direction: column;
    > label {
        color: black;
        font-weight: 600;
        margin-bottom: 10px;
    }

    fieldset {
        border: 2px solid var(--primary-color);
        border-radius: 8px;
    }

    svg {
        fill: var(--primary-color);
    }

    &:hover {
        fieldset {
            border-color: var(--secondary-color) !important;
        }

        svg {
            fill: var(--secondary-color);
        }
    }
}
