@import '../../../style/variables.scss';

.select{
    display: flex;
    flex-direction: column;
    >label{
        color:black;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .MuiOutlinedInput-root{
        fieldset{
            border: 2px solid $colorPrimary;
            border-radius: 8px;
        }
    }

    &.grey{
        background-color: #f7f7f7;
        border-radius: 16px;
        .MuiOutlinedInput-root{
            fieldset{
                border: none
            }
        }
    }
    // .error{
    //     fieldset{
    //         border-color: red;
    //     }
    // }
}