button.standardButton {
    border-radius: 16px;
    padding: 14px 46px;
    span.MuiButton-label {
        text-transform: none;
        size: 14px;
    }

    padding: 5px 18px;
    border-radius: 7px;
    transition: all 0.3s;
    text-transform: uppercase;
}
