button.standardButton {
    border-radius: 16px;
    padding: 14px 46px;
    span.MuiButton-label {
        text-transform: none;
        size: 14px;
    }

    // background: $primaryColor;
    // border: 2px solid $primaryColor;
    // color: $secondaryColor;
    padding: 5px 18px;
    // // text-align: center;
    // font-size: 18px;
    // font-weight: bold;
    border-radius: 7px;
    // box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    text-transform: uppercase;
}

button.black-button {
    background-color: #1b1d21;
    span.MuiButton-label {
        color: white;
    }

    &:hover {
        background-color: lighten(#1b1d21, 20%);
    }
}
