@import "./fonts.scss";

* {
    font-family: "Roboto";
}

:root {
    --error-color: red;
    --warning-color: #edef00;
    --primary-color: #cc006f;
    --primary-color-text: #eee700;
    --secondary-color: #eee700;
    --secondary-color-text: #cc006f;
    --standard-padding: 1em;
    --standard-fields-gap: 1em;
    --standard-border-radius: 8px;
}
