.autocomplete {
    display: flex;
    flex-direction: column;
    > label {
        color: black;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .MuiOutlinedInput-root {
        fieldset {
            border: 2px solid var(--primary-color);
            border-radius: 8px;
        }
    }
    &.error {
        fieldset {
            border-color: red;
        }
    }
}
